@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

$primary: #ffbc4b;
$secondary: #004a99;
$b1: #171107;
$b2: #261f22;
$w1: #e7e7f2;
$w1: #dadae7;
$w2: #e1e1e6;
$tag1: #d1daf2;
$tag2: #fc0f7e;
$tag3: #209998;
$tag4: #ffbc4b;
$tag5: #080299;
$tag6: #170ee6;
$tag7: #e69b19;

html {
  font-size: 7px;
}
body {
  color: $b1;
  background-color: $b1;
}
h1 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: Arvo, serif;
}

h2 {
  font-size: 1.9rem;
  font-weight: bold;
  font-family: Arvo, serif;
}
h3 {
  font-size: 1.3rem;
  font-weight: normal;
  font-family: Arvo, serif;
}
h4 {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Arvo, serif;
}
p {
  font-weight: lighter;
  color: $w2;
  font-family: Arvo, serif;
}
body {
  overflow: auto;
}
@media only screen and (min-width: 180px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (min-width: 220px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 280px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 330px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 650px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 850px) {
  html {
    font-size: 24px;
  }
}
